/* Quita los seteos de fabrica*/
*{
	margin:0px;
	padding:0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*PORTADA*/
#cajaPortada{
	background: url("https://bl3301files.storage.live.com/y4m1XSryykozPZqxiZc3eHdfTQSbtN_iJ5fl_dlSLVkOmI5ZKluAweIcqxwLNoyhot7KnXrWc_y8UIiOEEj4Eb-kX21IzRigKvyjy6ZxT9DS6rIaSn1lj4PeoPmhviyXi8-EtQAnseuJC7Cau2EnCJErFm49mOOg5QVee4H4JPOd4HlPKwNqkMuNq_v4rnzSQBI?width=6016&height=4016&cropmode=none");
	background-color: black;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 70%;
}
#cajaTextoPortada{
	z-index: 1;
	opacity: 100%;
	width: 100%;
}
#titulo{
	font-size: calc(3em + 1.8vw);
	font-weight: 500;
	text-shadow: #CCC 1px 0 20px;
	font-family: 'Oleo Script Swash Caps', cursive;
}
#fondoTextoPortada{
	opacity: 0.6;
}
/*RESUMEN*/
#cajaResumen{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#button{
	width: 30vw;
	padding: 5px;
	height: 90px;
	animation: animarboton 2s infinite;
	
}
	@keyframes animarboton {
		0%{ width: 30vw}
		50%{ width: 35vw}
		100%{ width: 30vw}
	}
#textoResumen1{
	font-family: 'Fondamento', cursive; 
	font-family: 'Oleo Script Swash Caps', cursive; 
	font-size: calc(2.8em + 1.2vw); 
	text-shadow: 1px 1px 2px grey;
}
#textoResumen2{
	font-family: 'Fondamento', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Timmana', sans-serif; 
	font-size: calc(2em + 1vw); 
	text-shadow: 1px 1px 2px grey;
}

/*CONTENIDO*/
#cajaContenido{
	background: url("https://bl3301files.storage.live.com/y4mE0hTOSU8VB_HUjoRspM3xvZVBuQh2rwLHgiQWKEwIVzYDotEeeCPMWkc1J3BNNiO7E4hdeUg55des7MnEe_U-IwsiFrL8VI4WgcbGZSAZKgZKl9GHjGZe_rN-WTSMr3FJIJvfCc2_hmGr-qMsn-C_EV-rOJ0C8CLgvWbky-8KPB65HrxnnSEbANFtIfA5-Lz?width=1920&height=1080&cropmode=none");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#contenido2{
	background: url("https://bl3301files.storage.live.com/y4mujgydeMjwTCgfkFDhUM3bBx_fFVmkKMeXmuobB8-6XZMKLJP6m7ubIGUSJNGhwKvaPlYaX7BtyHzxUzOr0ptSx4nui9CSrMe7aHDAl5gZMbWMktWCsRKPOvEXvKuG-Yq5zcfGIIPUkA216R9oMFTskY_96GWBJ1iDDF4t-GQSirjUyWDw0XkLqoTC0ip71bc?width=3508&height=2480&cropmode=none");
	background-size: cover;
	background-repeat: no-repeat;
}
#fondoContenido{
	background-color: rgba(0, 0, 0, 0.377);
}
#tituloContenido1, #tituloContenido2 {
	font-size: calc(2em + 1.2vw);
}
